.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.InputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.InputFormCard {
  padding: 2% 10% 2% 10%;
  max-width: 50vw;
}

.UrlConvertButton {
  margin-right: 5px;
  margin-bottom: 5%;
}